@media screen and (max-width: 376px) {
    #home-container .position-abs.home .home {
        position: relative;
        left: 7px;
        width: 300px !important;
    }
    .footer-style .nav.links li a {
        position: relative;
        right: 17%;
    }
    .footer-style .nav li a i::before {
        position: relative;
        left: -185px;
    }
}