@media (max-width: 1025px) {
    .position-abs > h1 {
        font-size: 34px;
    }
    #content {
        width: 100%;
    }
    .home-hero,
    .blog-hero,
    .about-hero,
    .contact-hero,
    .services-hero,
    .test-hero,
    .plan-hero-svg {
        margin: 0 auto;
        position: relative;
        right: 60px;
    }
    .position-abs {
        z-index: 10000;
        right: 0.5px;
    }

    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
   
    }
    ul.list-inline {
        width: 500px;
        position: relative;
        left: 110px;
    }
    button.navbar-toggler {
        position: relative;
        right: 15%;
    }
    ul.nav {
        position: relative;
        right: 15%;
    }
    p.small {
        text-align: center;
    }
    /* End Footer */
}



@media (max-width: 769px) {
    .position-abs > h1 {
        font-size: 34px;
    }
    #content {
        width: 100%;
    }
    .home-hero,
    .blog-hero,
    .about-hero,
    .contact-hero,
    .services-hero,
    .test-hero,
    .plan-hero-svg {
        margin: 0 auto;
        position: relative;
        right: 60px;
    }
    .position-abs {
        z-index: 10000;
        right: 0.5px;
    }

    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
   
    }
    ul.list-inline {
        width: 500px;
        position: relative;
        left: 110px;
    }
    button.navbar-toggler {
        position: relative;
        right: 15%;
    }
    ul.nav {
        position: relative;
        right: 15%;
    }
    p.small {
        text-align: center;
    }
    /* End Footer */
}


@media (max-width: 426px) {
    .position-abs > h1 {
        font-size: 34px;
    }
    #content {
        width: 100%;
    }
    .home-hero,
    .blog-hero,
    .about-hero,
    .contact-hero,
    .services-hero,
    .test-hero,
    .plan-hero-svg {
        margin: 0 auto;
        position: relative;
        right: 60px;
    }
    .position-abs {
        z-index: 10000;
        right: 0.5px;
    }

    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
        display: block !important;
        text-align: center;
    }
    p.small {
        text-align: center;
    }
    /* End Footer */
}


@media (max-width: 376px) {
    .position-abs > h1 {
        font-size: 34px;
    }
    #content {
        width: 100%;
    }
    .home-hero,
    .blog-hero,
    .about-hero,
    .contact-hero,
    .services-hero,
    .test-hero,
    .plan-hero-svg {
        margin: 0 auto;
        position: relative;
        right: 60px;
    }
    .position-abs {
        z-index: 10000;
        right: 0.5px;
    }

    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
        display: block !important;
        text-align: center;
    }
    p.small {
        text-align: center;
    }
    /* End Footer */
}

@media (max-width: 362px) {
    .position-abs > h1 {
        font-size: 34px;
    }
    #content {
        width: 100%;
    }
    .home-hero,
    .blog-hero,
    .about-hero,
    .contact-hero,
    .services-hero,
    .test-hero,
    .plan-hero-svg {
        margin: 0 auto;
        position: relative;
        right: 60px;
    }
    .position-abs {
        z-index: 10000;
        right: 0.5px;
    }

    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
        display: block;
        text-align: center;
        position: relative;
        right: 35%;
    }
    button.navbar-toggler {
        position: relative;
        right: 21.5%;
    }
    ul.nav {
        position: relative;
        right: 21.5%;
    }
    p.small {
        text-align: center;
    }
    /* End Footer */
}


@media (max-width: 321px) {
    .position-abs > h1 {
        font-size: 30px;
    }
    #content {
        width: 100%;
    }
    p.hero-desktop {
        display: none;
    }
    .position-abs {
        z-index: 10000;
    }
    .about-block-container-1 div.col-sm-8.col-md-8.col-lg-8.offset-2.mt-5.mb-5.text-center {
        position: relative;
        right: 7%;
    }
    .about-block-container-3  img.card-img-top {
        position: relative;
        left: 23%;
        padding-top: 20px;
    }
    .location-container .position-abs div,
    .resources-container .position-abs div,
    .services-container .position-abs div,
    .about-container .position-abs div,
    .home-container .position-abs div,
    .privacy-container .position-abs div {
        width: 290px !important;
        height: 100%;
        margin: 0 auto;
    }
    .services-container .position-abs div {
        position: relative;
        left: 30%;
    }
    .privacy-container-1 .tab-pane {
        width: 290px;
    }
    .privacy-container-1 .tab-pane h3,
    .privacy-container-1 .tab-pane h4,
    .privacy-container-1 .tab-pane p {
        position: relative;
        right: 50px;
    }
    .privacy-mail-link {
        font-size: 83%;
    }
    .footer-style .nav.links {
        display: block;
        position: relative;
        right: 17%;
    }

    
    button.navbar-toggler {
        position: relative;
        right: 0.5%;
    }
    ul.nav {
        position: relative;
        right: 0.5%;
    }
    /* Contact Page */
    form.js-validate {
        width: 120%;
        margin: 0 auto;
        position: relative;
        right: 27%;
    }
    /* End Contact */
    /* Footer */
    ul.list-inline li.list-inline-item {
        display: block !important;
        text-align: center;
        position: relative;
        right: 40%;
    }
    /* End Footer */
    .nav-pills .nav-link {
        width: 100px;
    }
    .tab-pane .card .card-img-top {
        width: 120px;
        height: 120px;
    }
    .card {
        width: 300px !important;
        display: block;
    }

}