@import url("@1441.css")  only screen and (max-width: 1441px);
@import url("@1025.css")  only screen and (max-width: 1025px);
@import url("@824.css") only screen and (max-width: 824px);
@import url("@769.css")  only screen and (max-width: 769px);
@import url("@737.css")  only screen and (max-width: 737px);
@import url("@668.css")  only screen and (max-width: 668px);
@import url("@426.css")  only screen and (max-width: 426px);
@import url("@376.css")  only screen and (max-width: 376px);
@import url("@321.css")  only screen and (max-width: 321px);
@import url('https://fonts.googleapis.com/css?family=Alegreya');


.u-text-animation.u-text-animation--typing.home {
    color: dodgerblue;
    font-weight: 700;
}
button.navbar-toggler {
    margin: 0 auto;
}
button.navbar-toggler {
    border-color: white !important;
    color: white
}
.navbar {
    overflow-y: auto;
    background: linear-gradient(120deg, rgba(0,0,250,0.8), rgba(50,50,200,0.8));
    background: -webkit-linear-gradient(120deg, rgba(0,0,250,0.8), rgba(50,50,200,0.8));
    background: -moz-linear-gradient(120deg, rgba(0,0,250,0.8), rgba(50,50,200,0.8));
    background: -o-linear-gradient(120deg, rgba(0,0,250,0.8), rgba(50,50,200,0.8));
}
.nav-styles {
    background: rgba(0, 0, 0, 0.65);
    width: 300px;
    display: block;
    text-align: center;
    margin: 0 auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    position: relative;
    top: 60px; 
    z-index: 10000000000000000000;
}
.nav>.nav-item>.nav-link {
    color: white;
    text-decoration: none;
}
.fa.fa-bars {
    color: white;
}

.u-pricing-v1 {
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
}
.modal-style .modal-content {
    background: linear-gradient(120deg, #2A2A95, rgba(100,100,250,1)) !important;
    background: -webkit-linear-gradient(120deg, #2A2A95, rgba(100,100,250,1)) !important;
    background: -moz-linear-gradient(120deg, #2A2A95, rgba(100,100,250,1)) !important;
    background: -o-linear-gradient(120deg, #2A2A95, rgba(100,100,250,1)) !important;
}
.position-abs div p,
.position-abs div h3 {
    text-align: center;
}
h1 span {
    font-size: 150%;
    text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -webkit-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -moz-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -ms-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -o-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
}
h1.display-5.font-size-48--md-down.font-weight-bold ,
h1.text-primary.display-5.font-size-48--md-down.font-weight-bold {
    text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -webkit-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -moz-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -ms-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -o-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
}
.remodal-overlay {
    background: rgba(50,50,250,0.7);
}
.ccrs-logo {
    display: block;
    margin: 0 auto;
}
.position-abs h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(50,50,50,0.5), 2px 2px 2px rgba(100,100,100,0.5);
    -webkit-text-shadow: 2px 2px 2px rgba(50,50,50,0.5), 2px 2px 2px rgba(100,100,100,0.5);
    -moz-text-shadow: 2px 2px 2px rgba(50,50,50,0.5), 2px 2px 2px rgba(100,100,100,0.5);
    -ms-text-shadow: 2px 2px 2px rgba(50,50,50,0.5), 2px 2px 2px rgba(100,100,100,0.5);
    -o-text-shadow: 2px 2px 2px rgba(50,50,50,0.5), 2px 2px 2px rgba(100,100,100,0.5);
    font-family: 'Alegreya', serif;
    position: relative;
    bottom: 1em;
}
.position-abs div {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -webkit-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -moz-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -o-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    width: 58%;
    margin: 0 auto;
    padding: 25px;
}
.position-abs strong {
    color: dodgerblue
}
.plans-container {
    background: url('../img/wallet.jpeg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 540px;
}
.home-container .position-abs div {
    width: 400px;
    float: left;
}
.faq-container .position-abs div {
    width: 400px;
}
.about-container .position-abs div {
    width: 400px;
    float: left;
}
.contact-container .position-abs div {
    width: 400px;
    position: relative;
    bottom: 45px;
}
.faq-container-1 div div .faq button.btn {
    color: dodgerblue;
}
.home-container {
    background: url('../img/home__2.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.testimonial-container-1 .card {
    box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
}
.testimonial-container {
    background: url('../img/customer-service__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 550px;
}
.blog-container {
    background: url('../img/blog-paint__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.contact-container {
    background: url('../img/silk-wave__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.footer-container {
    background: url('../img/cool-black-grey__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 200px;
    background-color: rgba(100,100,250,0.5);
    background-blend-mode: multiply;
}
.home-block-container {
    background: url('../img/woman-3__1.jpg') 0% 0 repeat fixed;
    background-size: cover;
    min-height: 500px;
}
.services-container {
    background: url('../img/credit-problem__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.services-container-2 {
    background: url('../img/ipad__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 500px;
}
.services-container-3,
.services-container-1 {
    min-height: 400px;
}
.about-block-container-2 {
    background: url('../img/credit-fix__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 500px;
}
.about-container {
    background: url('../img/credit-score__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.services-container-3 .row {
    position: relative;
    left: 5%;
}
.services-container-3 h3 {
    position: relative;
    right: 5%;
}
.services-container-1 ul {
    list-style-type: none;
}
.services-container-1 ul li {
    text-align: center;
}
.services-container-2 div.ipad {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -webkit-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -moz-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -o-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    width: 500px;
    margin: 10% auto;
    padding: 25px;
}
.services-container-2 div.ipad img {
    margin: 0 auto;
    display: block;
}
.services-container-2 div.ipad h1 {
    text-align: center;
}
.privacy-container {
    background: url('../img/fix-credit__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.privacy-container-1 {
    min-height: 400px;
    overflow: scroll;
}
.privacy-container-1 .nav-pills .nav-item .nav-link {
    color: dodgerblue;
    font-size: 14px;
}
.privacy-container-1 .nav-pills .nav-item .nav-link.active{
    color: white;
}
.faq-container {
    background: url('../img/credit-101__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 640px;
}
.location-container div {
    position: relative;
    bottom: 10px;
}
.location-container {
    background: url('../img/desk__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.location-container-1 {
    min-height: 550px;
}
.resources-container {
    background: url('../img/boards.jpeg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 450px;
}
.resources-container .position-abs div {
    position: relative;
    bottom: 30px;
}
.resources-container-1 {
    min-height: 300px;
}
.article-1-container {
    background: url('../img/credit-101__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-1-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.article-2-container {
    background: url('../img/credit-problem__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-2-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.article-3-container {
    background: url('../img/home__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-3-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.article-4-container {
    background: url('../img/woman-3__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-4-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.article-5-container {
    background: url('../img/silk-wave__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-5-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.article-6-container {
    background: url('../img/desk__1.jpg') 50% 0 repeat fixed;
    background-size: cover;
    min-height: 400px;
}
.article-6-container .position-abs div {
    position: relative;
    bottom: 40px;
}
.resources-container-1 h1 {
    text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -webkit-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -moz-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -ms-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    -o-text-shadow: 2px 2px 5px rgba(100,100, 250, 0.5);
    font-family: 'Alegreya', serif;
}

.credentials-foot a {
    font-size: 14px;
}
.w-40.mx-auto.mt-5 {
    margin-bottom: 10%;
}

.position-abs.services {
    right: 30%;
}
.position-abs.services div {
    height: 400px;
    width: 400px;
}

input {
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
}
.input-group-prepend.u-form__prepend {
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
}
textarea {
    box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 6px rgba(50,50,50,0.5);
}
.u-bg-img-hero {
    box-shadow: 3px 3px 6px rgba(50,50,50,1);
}
.footer-logo {
    width: 10%;
    height: 10%;
}

.services-block h3 {
    color: dodgerblue;
    font-weight: 700;
    text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -webkit-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -moz-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -ms-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -o-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
}
.about-block {
    /* background: linear-gradient(120deg, rgba(150,150,150,0.1), rgba(250,250,250,0.7));
    background: -webkit-linear-gradient(120deg, rgba(150,150,150,0.1), rgba(250,250,250,0.7));
    background: -moz-linear-gradient(120deg, rgba(150,150,150,0.1), rgba(250,250,250,0.7));
    background: -o-linear-gradient(120deg, rgba(150,150,150,0.1), rgba(250,250,250,0.7)); */
    border-radius: 4.5px;
    -webkit-border-radius: 4.5px;
    -moz-border-radius: 4.5px;
    -ms-border-radius: 4.5px;
    -o-border-radius: 4.5px;
}
.about-block h1 {
    color: dodgerblue;
    font-weight: 700;
    text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -webkit-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -moz-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -ms-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
    -o-text-shadow: 1.2px 1.2px 3px rgba(200,200,200,0.3);
}

/* Modal Styles */
.modal .modal-body form input {
    width: 70%;
    margin: 0 auto
}
.modal .modal-body form textarea {
    width: 70%;
    margin: 0 auto
}
.modal .modal-body {
    background: url('../theme/assets/svg/flat-icons/subscribe-flat-concept-illustration.svg') 50% 0 repeat fixed;
}

.pr-lg-4.mb-7 > ul {
    list-style-type: none;
    text-align: center;
}
.pr-lg-4.mb-7 > ul li {
    text-align: center;
}
p .far {
    font-size: 30px;
    color: dodgerblue;
    text-shadow: 2px 2px 3px #f8f8f8;
}

.row.item-row.top {
    margin-top: 60px;
}
.row.item-row.bottom {
    margin-bottom: 60px;
}
.row.item-row {
    padding: 5px;
}
ul.mt-1.text-center {
    list-style-type: none;
}
.services-block ul {
    list-style-type: none;
}
.services-block ul li {
    text-align: center;
}
.subscribe {
    background: linear-gradient(120deg, rgba(100,100,100,0.5), rgba(180,180,180,0.5));
    background: -webkit-linear-gradient(120deg, rgba(100,100,100,0.5), rgba(180,180,180,0.5));
    background: -moz-linear-gradient(120deg, rgba(100,100,100,0.5), rgba(180,180,180,0.5));
    background: -o-linear-gradient(120deg, rgba(100,100,100,0.5), rgba(180,180,180,0.5));
    box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 2px 2px 5px rgba(50,50,50,0.5);
    color: white;
}
.card-img-top {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.test-tab-container {
    padding-top: 5%;
    padding-bottom: 10%;
    margin-top: 1%;
    background: linear-gradient(120deg, rgba(200,200,200,0.5), rgba(250,250,250,0.5));
    background: -webkit-linear-gradient(120deg, rgba(200,200,200,0.5), rgba(250,250,250,0.5));
    background: -moz-linear-gradient(120deg, rgba(200,200,200,0.5), rgba(250,250,250,0.5));
    background: -o-linear-gradient(120deg, rgba(200,200,200,0.5), rgba(250,250,250,0.5));
}
.card {
    background: transparent;
}
.list-unstyled.u-list.u-list--white.bg-primary {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.tab-section {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px;
}

#GMapPolylines {
    width: 300px;
    height: 100%;
}
.far.fa-star {
    color: gold;
    font-size: 20px;
}
.item-row .col-md-3 {
    background: linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -webkit-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -moz-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -o-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    width: 80%;
    position: relative;
    left: 5%;
    padding: 10px;
}
.item-row .col-md-3 p {
    font-size: 80%;
    font-weight: 700;
    color: whitesmoke;
}
.u-divider {
    color: dodgerblue;
}
div[data-remodal-id="modal"] {
    background: transparent;
}
.remodal-p {
    position: relative;
    top: 50px;
    color: white;
    font-weight: 800;
}
div[data-remodal-id="modal"] a {
 position: relative;
 top: 50px;
}
.remodal-btn {
    color: white;
    background: rgba(50,50,250,0.3);
    box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
    -webkit-box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
    -moz-box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
    -ms-box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
    -o-box-shadow: 2px 2px 4px rgba(50,50,50,0.5);
}
.promises {
    background: linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -webkit-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -moz-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    background: -o-linear-gradient(90deg, dodgerblue, rgba(150,150,180,0.5));
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    padding: 15px;
}
.promises ul {
    list-style-type: none;
}
.promises h1,
.promises h3,
.promises ul li {
    text-align: center;
    color: white;
}
.goals h5,
.goals li {
    color: white;
}


#map {
    height: 400px;
    width: 800px;
    position: relative;
    top: 10%;
    margin: 0 auto;
  }

div.col-md-6.map-info span {
    font-size: 21px;
    position: relative;
    top: 40px;
}
div.col-md-6.map-info span i {
    color: dodgerblue;
}
.top-row-text h3 {
    color: rgb(100,100,250);
}
.learn-more-btn a {
    color: white;
}
.learn-more-btn a:hover {
    color: white;
}
.learn-more-btn {
    background: rgba(100,100,250,1);
    color: white;
    border-radius: 20px;
    height: 30px;
    position: relative;
    bottom: 20px;
    left: 10%;
}
.learn-more-btn span {
    position: relative;
    bottom: 10px;
}
.learn-more-btn i {
    position: relative;
    bottom: 10px;
    left: 10px;
}
.row-of-3 div div {
    background: rgba(150,150,150,0.1);
    border-radius: 10px;
    padding: 10px;
}
.row-of-3 > div > div > h4 {
    color: rgb(0,0,250);
}
.row-of-3.second div p i {
    font-size: 150%;
    color: rgb(100,100,250);
}
.footer-style {
    background: linear-gradient(120deg, rgba(0,0,250,1), rgba(50,50,200,1));
    background: -moz-linear-gradient(120deg, rgba(0,0,250,1), rgba(50,50,200,1));
    background: -webkit-linear-gradient(120deg, rgba(0,0,250,1), rgba(50,50,200,1));
    background: -o-linear-gradient(120deg, rgba(0,0,250,1), rgba(50,50,200,1));
}
.footer-style ul.nav li.nav-item a.nav-link i {
    position: relative;
    left: 12.3em;
}
.about-fix-credit {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -webkit-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -moz-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    background: -o-linear-gradient(120deg, rgba(220,220,220,0.8), rgba(250,250,250,0.7));
    width: 500px;
    margin: 10% auto;
    padding: 25px;
}
.about-fix-credit img {
    display: block;
    margin: 0 auto;
}
.about-fix-credit ul {
    list-style-type: none;
}
.card.owners {
    box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -webkit-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -moz-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -ms-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
    -o-box-shadow: 3px 3px 5px rgba(50,50,50,0.5);
}
.about-block-container-2 button.learn-more-btn {
    position: relative;
    left: 20%;
}
.credentials {
    text-align: center;
    position: relative;
    top: 100px;
}
.credentials span {
    font-size: 30px;
}
